body{
    font-family: Verdana, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(228, 227, 227);
}

#logo{    
    font-size: 5em;
    text-align: center;
    font-weight: bold;
    font-family:  monospace;
    color: white;
    text-shadow: 0 0 5px gray;    
}

#container{
    max-width: 960px;
    margin: 0 auto;
    box-shadow: 0 0 10px silver;    
    background-color: white;
}

input{
    max-width: 90%;
    border: none;
    padding: 5px 15px;
    font-size: 1.2em;
    margin: 3px;
    background-color: rgb(223, 223, 223);
}

input:hover{
    cursor: pointer;
    color: white;
    background-color: silver;
}

.input{
    border-bottom: 1px rgb(116, 116, 116) solid;
    font-size: 1.1em;
    padding: 3px;
}

#prf{
    width: 200px;
    height: auto;
    background-color: rgb(230, 230, 230);
    text-align: center;
    padding: 10px;    
    font-weight: bold;
    font-size: 1.4em;
    color: rgb(0, 107, 107);
    box-shadow: 0 0 10px gray;
    margin-bottom: 10px;
}

#prf img{
    max-width: 150px;
    max-height: 150px;
}

.usersList{
    box-shadow:  0 0 10px gray;
    width: 50%;
    margin: 0 auto;
}

.usersList p{
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.1em;
}

#post{
    width: 50%;
    box-shadow: 0 0 10px silver;    
}

#post p{
    background-color: gray;
    color: white;
    font-family:  Courier, monospace;
    margin: 0;
    text-align: justify;
}

#post_btn{
    width: 50%;
}

.errMsg{
    color: red;
    font-weight: bold;
    font-size: 0.9em;
}

#nameErr, #passErr, #passConfErr{
    display: none;
}

#nav li{
    list-style: none;
    float: left;    
    margin: 0 5px;
    text-decoration: none;
}

#nav li:last-child{
    float: right;
}

#nav li a{   
    padding: 5px;
    text-decoration: none;
    color: black;
    background-color: rgb(223, 223, 223); 
    display: block;

}

#nav li a:hover{       
    color: white;    
    background-color: silver;
}

#nav::after{
    content: "";
    clear: both;
    display: table;
}

.pageTitle{
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    font-family:  monospace;
    color: silver;
    text-shadow: 0 0 5px gray;
}

.centred{
    margin: 0 auto;
    text-align: center;
}

#inputForm{
    width: 300px;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
}

#postPublication{
    max-width: 70%;
    box-shadow: 0 0 10px silver; 
}